#tableau-jeu td {
    border: 1px solid rgb(231, 8, 8);
    width: 30px;
    height: 30px;


}

#tableau-jeu #td-1,
#tableau-jeu #td-4,
#tableau-jeu #td-7 {
    border-left: 0;
   
}

#tableau-jeu #td-3,
#tableau-jeu #td-6,
#tableau-jeu #td-9 {
    border-right: 0;

}

#tableau-jeu #td-1,
#tableau-jeu #td-2,
#tableau-jeu #td-3{
    border-top: 0px;
}

/*bordure basse vide */
#tableau-jeu #td-7,
#tableau-jeu #td-8,
#tableau-jeu #td-9{
    border-bottom: 0px;
}

.btn{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: black;
}